 :root {
 --bg-primary: rgb(0, 12, 0);       /* green black background maybe testing needed*/
  --text-primary: #f7f6e6;     /* almost white text color */
  --color-grey: slategrey;     /* accent not likly to be used in direct conjunction with text */
  --color-blue: royalblue;      /* secondary for backgrounds as accent and eye catcher*/
 

  /* Cyber Gradient  don't understand what this does leaving it for now for curiosity sake*/
  --gradient-accent: linear-gradient(135deg, var(--color-purple), var(--color-green));
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

header{
  background-color: var(--color-blue);
  color: var(--text-primary);
  padding: 1rem;
  text-align: center;
}

  .logo {
    float: left;
    padding: 1rem;
    background-color: var(--bg-primary);
    stroke: var(--color-blue)
  }

  section {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1rem;
  }
  
  footer {
    background-color: var(--color-blue);
    color: var(--text-primary);
    padding: 1rem;
    text-align: center;
  }
