:root {
  --primary-color: #B4EBE6;
  --secondary-color: #FBF8EF;
  --accent1-color: #222222;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

  h1 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: .5rem;
  }

  main {

  }
    form {
      background-color: var(--secondary-color);
      color: var(--accent1-color);
      width: 100%;
      margin: .5rem;
      padding: .5rem;
    }
      form div {
        margin: 1rem;
      }
        #productselect {
          width: 100%;
          height: 2rem;
        }

        #stars {
          width: 100%;
          display: inline-block;
        }

        .star-rating {
          display: flex;
          justify-content: center;
        }

        .star-rating input[type="radio"] {
          display: none !important;
        }
        
        .star-rating label {
          font-size: 2rem;
          color: grey;
          cursor: pointer;
          transition: color 0.2s;
        }









/* 
        .star-rating label:hover,
        .star-rating label:hover ~ label {
          color: gold;
        }

        .star-rating input:checked ~ label {
          color: gold;
        } */

        #dateitem {
          width: 100%;
          height: 2rem;
        }

        form div fieldset {
          border: none;

        }
          fieldset input {
            margin: 5px;
          }
        #written-review {
          width: 100%;
          height: 5rem;
        }
        #username {
          width: 100%;
          height: 2rem;
        }
        #submitbutton {
          width: 100%;
          height: 3rem;
          font-size: larger;
        }

  footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: .5rem;
  }

/* 
  example for stars css
  /* stars 
  input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
  }

  .stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor
  }

  .stars > label:hover {
    color: #000;
  }

  .stars > label::before {
    content: "\2606";
  }

  .stars input:checked ~ label::before {
    content: "\2605";
  }

*/